.first {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50px 50px 50px 50px/50px 50px 50px 50px;
    margin-top: 200px;
    margin-left: 400px;
    padding-top: 30px;
    width: 950px;
    height: 1000px;
    
  }
.second{
    margin-left: 135px;
    width: 700px;
    height: 350px;
    overflow: hidden;
    background-color: black;
    border-radius: 20px 20px 20px 20px/20px 20px 20px 20px;
}
.second video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

body{
    background-image: url(../../picture/R-J.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% bottom;
}
img {
    margin-top: 20px;
    margin-left: 12px;
    width: 220px;
    height: 150px;
  }

p{  
    line-height: 1.8;
    margin-left: 25px;
    margin-right: 25px;
    font-style: 华文楷体;
}





/*通栏*/
  .index_list{
    width: 100%;
    height: 160px;
    background-size: cover;
    position: absolute;/*绝对定位*/
    top: 0px;/*距离顶部0像素*/
    left: 0;/*距离左侧边界0px*/
    background-image: url("../picture/R-I.png");
    background-position: 0px 250px;
}
.index_list li{
    display: inline; 
    margin-right: 20px;
    font-size: 30;
    font-family:"华文行楷";
}

.ul_list
 { 
    position: absolute;
    top: 70px;/*距离顶部70px*/
    left: 350px;/*距离左侧70px*/
    list-style-type:none;
}
.ul_list a{ 
   text-decoration: none;/*去掉下划线*/
   color: rgb(255, 255, 255); 
}
.ul_list a:hover{
color:rgb(0, 0, 0);/*鼠标置于上方显示白色*/

}

p {
    text-indent: 2em;
  }

  #footer{
    color: aliceblue;
    text-align:center;
    width: 100%x;
    height: 80px;
    margin:50px 0px 0px 0px;
}