body{
    background-image: url(../../picture/R-J.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% bottom;
}

/*导航栏*/

p {
    line-height: 1.3;
    text-indent: 2em;
    font-style: 华文楷体;
  }
.active {
    color: #848484;
}

/*侧边栏*/
.dad{
    margin-top: 100px;
    display: flex;
}
.center {
    text-align: center;
}
.sidebar2 img{
    width: 40%;
    height: 250px;
    display: block;
    margin: 0 auto; 
}
.sidebar2{
    border-radius: 10px;
    width: 1100px;
    height: 750px;
    margin: 120px 10px 0px 40px;
    padding: 25px;
    background-color: rgba(240, 240, 240, 0.6);
}
.sidebar {
   
    width: 280px;
    height: 600px;
    margin: 120px 0px 10px 100px;
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.4);
    border-radius: 10px;
    box-shadow: 0 3px 8px 6px rgba(63, 139, 215, 0.06);
    transition: all 0.3s;
    font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sidebar a {
    display: block;
    padding: 15px 16px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color: var(--grey-6);
    font-size: 20px;
    transition: all 0.1s linear;
}



.sidebar a:hover {
    background-color: rgb(215, 215, 215);
    font-size: 1.2em;
    transform: scale(1.2);
    transition: all 0.3s linear;
}

.sidebar a.active {
    color: var(--grey-0);
    background: #36d1dc;
    background: -webkit-linear-gradient(to right, rgb(54, 209, 220), rgb(91, 134, 229));
    background: linear-gradient(to right, rgb(54, 209, 220), rgb(91, 134, 229));
}


.index_list{
    width: 100%;
    height: 160px;
    background-size: cover;
    position: absolute;/*绝对定位*/
    top: 0px;/*距离顶部0像素*/
    left: 0;/*距离左侧边界0px*/
    background-image: url("../picture/R-I.png");
    background-position: 0px 250px;
}
.index_list li{
    display: inline; 
    margin-right: 20px;
    font-size: 30;
    font-family:"华文行楷";
}

.ul_list
 { 
    position: absolute;
    top: 70px;/*距离顶部70px*/
    left: 350px;/*距离左侧70px*/
    list-style-type:none;
}
.ul_list a{ 
   text-decoration: none;/*去掉下划线*/
   color: rgb(255, 255, 255); 
}
.ul_list a:hover{
color:rgb(0, 0, 0);/*鼠标置于上方显示白色*/

}

#footer{
    color: aliceblue;
    text-align:center;
    width: 100%x;
    height: 80px;
    margin:50px 0px 0px 0px;
}